.App {
  text-align: center;
}

.header-component{
  border: 2px solid red;
  background-image: url('/public/images/kimoto.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 65vh;
}