.App {
  text-align: center;
}

.header-component{
  /* border: 2px solid red; */
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.213), rgba(0, 0, 0, 0.0)), url('/public/images/kimoto.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position:50% 60%;
  height: 65vh;
}

.body-component{
  border: 2px solid green;
  height: 65vh;
}

.portfolio-component{
  height: 70vh;
}