@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@100;200;300;400;500;600;700;800&display=swap');
.App {
  text-align: center;
}

body{
  font-family: "Smooch Sans", sans-serif;
}

.header-component{
  /* border: 2px solid red; */
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.213), rgba(0, 0, 0, 0.0)), url('/public/images/kimoto.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position:50% 60%;
  height: 65vh;
}

.body-component{
  border: 2px solid green;
  height: 65vh;
}

.portfolio-component{
  height: 70vh;
}

.navbar-component{
  /* border: 2px solid red; */
  height: 0;
  position: sticky;
  top: 0;
}